/*reset*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /*ultilities*/
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e7e5dd;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

/*header*/
#header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  padding: 15px;
  position: fixed;
  background-color: #e7e5dd;
}

#header #logo {
  margin-left: 20px;
}

#header #logo h1 {
  display: inline;
}

#header #nav-bar ul {
  display: flex;
  list-style: none;
}

header #nav-bar ul li {
  margin-top: 8px;
}

header #nav-bar ul li .nav-link {
  padding: 0 20px;
  font-size: 18px;
}

/* formulario */
#form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#form-section h2 {
  font-weight: 100;
  margin-top: 20px;
  padding: 15px 0;
}
#form-section #form #email {
  display: block;
  width: 290px;
  height: 30px;
  margin: 10px 0;
}
#form-section #form #submit {
  margin-left: 90px;
  width: 110px;
  height: 30px;
  background-color: #56514b;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding: 4px;
  margin-top: 5px;
}

#form-section #form #submit:hover {
  cursor: pointer;
  background-color: #999990;
  color: #56514b;
}

/*Feature section */
.flex-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  width: 80vw;
  height: 390px;
  margin: 30px auto 0;
  text-align: justify;
}
.flex-container .fa-fire {
  margin-right: 21px;
}
.flex-container .flex-items {
  display: flex;
  flex-direction: row;
}
.flex-container .flex-items .feature {
  margin-left: 10px;
}

/*Video section*/

#video-section {
  width: 100%;
}

#video-section #video {
  display: block;
  margin: 20px auto;
}
